<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-img src="assets/swathipic.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title><ion-text color="primary">
        <h1>About Creator</h1>
      </ion-text></ion-card-title>
    </ion-card-header>
    <ion-card-content ><ion-text color="#ffffff">
This is a simple news App developed by <br>
Sri Swathi N     </ion-text>
</ion-card-content>
  </ion-card>
</ion-content>
